<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available User</title>
    <link rel="stylesheet" href="/css/normal_layout.css" type="text/css">
    <link rel="stylesheet" href="/css/admin_layout.css" type="text/css">

</head>
<body>
    <div class="container">
        {{> headerAdmin}}

        <!-- Content -->
        <div class="main_Content">
            <div class="searchBar">
                <form method="POST" action="../admin/searchAccount">
                    <input class="searchBar" type="text" name="txtNameEmailSearch">
                    <input type="submit" value="Search">          
                </form>
            </div>

            <div class="content_paging">
                <!-- Bottom Content -->
                <table border="1" cellspacing ="0 " cellpadding="15">
                        <thead>
                            <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Age</th>
                                    <th>PhoneNumber</th>
                                    <th>Role</th>
                                    {{!-- <th>Delete</th>
                                    <th>Update</th> --}}
                            </tr>
                        </thead>
                        <tbody>
                            {{#each viewAllDataInTable}}
                                <tr>
                                    <td>{{name}}</td>
                                    <td>{{email}}</td>
                                    <td>{{age}}</td>
                                    <td>{{phoneNumber}}</td>
                                    <td>{{role}}</td>
                                
                                </tr>
                            {{/each }}
                    </tbody>
                </table>
            </div>

            <div class="showButtonPaging">
                
                    <a href="../admin/availableUsers?skipData=0" style="margin-left:10px">
                        <button>
                            <<
                        </button>
                    </a>
            

                    {{#each left}}
                        <a href="../admin/availableUsers?currPage={{this}}">
                            <button>
                                {{this}}
                            </button>
                        </a>

                    {{/each}}

                    
                    <a href="../admin/availableUsers?currPage={{currPage}}">
                        <button class="active">
                            {{currPage}}
                        </button>
                    </a> 
                    
                    {{#each right}}
                        <a href="../admin/availableUsers?currPage={{this}}">
                            <button>
                                {{this}}
                            </button>
                        </a>

                    {{/each}}

                    <a href="../admin/availableUsers?currPage={{lastPage}}">
                        <button>
                            >>
                        </button>
                    </a> 
            </div>

        </div>

        <!-- (End) Content -->

        {{> footer}}
    </div>


</body>
</html>