<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testPagination</title>
    <link rel="stylesheet" href="/css/normal_layout.css" type="text/css">
    <link rel="stylesheet" href="/css/admin_layout.css" type="text/css">

</head>
<body>
    <div class="container">
        {{> headerAdmin}}

        <!-- Content -->
        <div class="main_Content">
            {{!-- <div class="bottom_content_paging">
                <!-- Bottom Content -->
                <table border="1" cellspacing ="0 " cellpadding="15">
                        <thead>
                            <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Age</th>
                                    <th>PhoneNumber</th>
                                    <th>Role</th>
                                    <th>Delete</th>
                                    <th>Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each viewAllAccount}}
                                <tr>
                                    <td>{{name}}</td>
                                    <td>{{email}}</td>
                                    <td>{{age}}</td>
                                    <td>{{phoneNumber}}</td>
                                    <td>{{role}}</td>

                                    <td>
                                        <button>
                                            <a href="../admin/deleteAccount?id={{_id}}" 
                                            onclick="return confirm('Are You Sure to Delete ?')">
                                                <img src="https://icon-library.com/images/red-recycle-bin-icon/red-recycle-bin-icon-18.jpg"
                                                    width="18" height="18">
                                                    Delete
                                            </a>
                                        </button>
                                    </td>

                                    <td>
                                            <button>
                                                <a href="../admin/updateAccount?id={{_id}}">
                                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg/1024px-Edit_icon_%28the_Noun_Project_30184%29.svg.png"
                                                    width="18" height="18" alt="">
                                                    Update
                                                </a>
                                        </button>
                                    </td>
                                
                                </tr>
                            {{/each }}
                    </tbody>
                </table>
            </div> --}}
            <main>
                <div class="list" id="list"></div>
                <div class="pagenumbers" id="pagination"></div>
            </main>

            <script type="text/javascript">
                const list_items = [
                    "Item 1",
                    "Item 2",
                    "Item 3",
                    "Item 4",
                    "Item 5",
                    "Item 6",
                    "Item 7",
                    "Item 8",
                    "Item 9",
                    "Item 10",
                    "Item 11",
                    "Item 12",
                    "Item 13",
                    "Item 14",
                    "Item 15",
                    "Item 16",
                    "Item 17",
                    "Item 18",
                    "Item 19",
                    "Item 20",
                    "Item 21",
                    "Item 22"
                ];

                const list_element = document.getElementById('list');
                const pagination_element = document.getElementById('pagination');

                let current_page = 1;
                let rows = 4;

                function DisplayList (items, wrapper, rows_per_page, page) {
                    wrapper.innerHTML = "";
                    page--;

                    let start = rows_per_page * page;
                    let end = start + rows_per_page;
                    let paginatedItems = items.slice(start, end);

                    for (let i = 0; i < paginatedItems.length; i++) {
                        let item = paginatedItems[i];

                        let item_element = document.createElement('div');
                        item_element.classList.add('item');
                        item_element.innerText = item;
                        
                        wrapper.appendChild(item_element);
                    }
                }

                function SetupPagination (items, wrapper, rows_per_page) {
                    wrapper.innerHTML = "";

                    let page_count = Math.ceil(items.length / rows_per_page);
                    for (let i = 1; i < page_count + 1; i++) {
                        let btn = PaginationButton(i, items);
                        wrapper.appendChild(btn);
                    }
                }

                function PaginationButton (page, items) {
                    let button = document.createElement('button');
                    button.innerText = page;

                    if (current_page == page) button.classList.add('active');

                    button.addEventListener('click', function () {
                        current_page = page;
                        DisplayList(items, list_element, rows, current_page);

                        let current_btn = document.querySelector('.pagenumbers button.active');
                        current_btn.classList.remove('active');

                        button.classList.add('active');
                    });

                    return button;
                }

                DisplayList(list_items, list_element, rows, current_page);
                SetupPagination(list_items, pagination_element, rows);

            </script>
        </div>

        <!-- (End) Content -->

        {{> footer}}
    </div>


</body>
</html>