<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="/css/normal_layout.css" type="text/css">
    <link rel="stylesheet" href="/css/admin_layout.css" type="text/css">
</head>

<body>
    <div class="container ">

        {{> headerAdmin}}

        <!-- Content -->
        <div class="main_Content">
            <div class="top_content_updateFunc">
                <div class="table_title">
                    <h2>Update Account - {{accountDetail.role}} - </h2>
                    <h3>( {{accountDetail.email}} ) </h3>

                </div>
                <table>
                    <form action="../admin/doUpdateAccount" method="post">
                        <td><input type="hidden" name="id" value="{{accountDetail._id}}"></td>

                        <tr>
                            <td>Name : </td>
                            <td><input type="text" name="txtUpdateAccountName" value="{{accountDetail.name}}"> </td> 
                            <td style="color: brown;">{{errorMessage}}</td>
                        </tr>
                        <tr>
                            <td>Age : </td>
                            <td><input type="text" name="txtUpdateAge" value="{{accountDetail.age}}"></td>
                            <td  style="color: brown;">{{errorMessage}}</td>

                        </tr>

                        <tr>
                            <td>PhoneNumber : </td>
                            <td><input type="text" name="txtUpdatePhoneNumber" value="{{accountDetail.phoneNumber}}"></td>
                            <td  style="color: brown;">{{errorMessage}}</td>

                        </tr>
                        
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Update" class="updateButton"></td>
                        </tr>
                    </form>
                </table>

            </div>

        </div>

        <!-- (End) Content -->

        {{> footer}}

    </div>
</body>
</html>