<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View popular Idea</title>
    {{!-- <link rel="stylesheet" href="/css/normal_layout.css" type="text/css">
    <link rel="stylesheet" href="/css/admin_layout.css" type="text/css"> --}}

    <link rel="stylesheet" href="/css/seeIdeaDuyAnhCustom.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="container">
        {{> headerAdmin}}

        <!-- Content -->
        <div class="main_Content">
            <div class="topViewPopular">
                <div class="dropbox_show">
                        <form  action="../admin/ChoseViewTypePopularIdeas" method="post">
                            <select name="txtSelectedViewType" onchange="this.form.submit()">
                                <option value="">Select</option>

                                <option value="LatestIdeas">Latest Ideas</option>

                                <option value="MostLikeAndDislike">Most Popular Idea</option>

                                <option value="MostViewed">Most Viewed Idea</option>

                            </select>
                        </form>
                </div>
            </div>
            

            <div class="bottomViewPopular">
                {{#each viewLatestIdeas}}
                    <div class="box">
                        <div class="inside">
                            <div class="padding align">
                                <img class="size border" src="https://cdn.iconscout.com/icon/free/png-256/avatar-370-456322.png" alt="">
                                <div class="span">
                                    <div class="name1">
                                        <div class="name2">
                                            <span class="font space">{{users}}</span>
                                        </div>
                                    </div>
                                    <span class="email">{{email}}</span>                        
                                </div>
                            </div>
                        <div class="content">
                            <div class="inside-content">
                                <span>Topic is {{topic}}</span>
                                <br>
                                <span>Description: {{description}}</span>
                                <br>
                                <span>File: {{file}}</span>
                                <br>
                                <span>Category: {{category}}</span>
                                <br>
                                <span><span>Viewers: {{views}}</span></span>
                                <br>
                                <span><a href="../staff/viewIdea?id={{_id}}">View more</a></span>
                                <br>
                            </div>
                        </div>
                        </div>
                        
                    </div>
                    <br>
                {{/each}}
            </div>
            
        </div>

        <!-- (End) Content -->

        {{> footer}}
    </div>


</body>
</html>