<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
    <link rel="stylesheet" href="/css/normal_layout.css" type="text/css">
    <link rel="stylesheet" href="/css/admin_layout.css" type="text/css">
 
</head>
<body>
    <div class="container">
        {{> headerStaff}}

        <!-- Content -->
        <div class="main_Content">
            <div class="top_content">
                <div class="table_title">
                    <h2>File Submit</h2>
                </div>

                <table>
                    <form  action="/staff/doAddIdea" method="post" enctype="multipart/form-data">
                        <tr>
                            <td class="accountManagement_title">User : </td>
                            <td name = "txtUserName"> {{getUser.name}}</td>
                        </tr>
                        {{!-- <tr>
                            <td class="accountManagement_title">Start Date : </td>
                            <td name = "txtStartDate">
                            <select name="txtStartDate">
                                    <option>Select Date</option>
                                    {{#each getDate}}
                                        <option value="{{startDate}}">{{startDate}}</option>
                                    {{/each}}
                            </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="accountManagement_title">Start Date : </td>
                            <td>
                            <select name="txtEndDate">
                                    <option>Select Date</option>
                                    {{#each getDate}}
                                        <option value="{{endDate}}">{{endDate}}</option>
                                    {{/each}}
                            </select>
                            </td>
                        </tr> --}}
                        <tr>
                            <td class="accountManagement_title">Topic : </td>
                            <td><input type="text" class="accountManagement" name="txtNewTopic"> </td> 
                            
                        </tr>
                        <tr>
                            <td class="accountManagement_title">Description : </td>
                            <td><input type="text" class="accountManagement" name="txtNewDes"></td>
                        </tr>
                        {{!-- <tr>
                            <td class="accountManagement_title">Category : </td>
                            <td>
                                <select name="txtNameCategory">
                                    <option>Select Category</option>
                                    {{#each viewCategory}}
                                        <option value="{{name}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </td> 
                        </tr> --}}

                        <tr>
                            <td class="accountManagement_title">ClosureDate: </td>
                            <td>
                                <select name="txtNameCloseDate">
                                    <option>Select Closure</option>
                                    {{#each getDate}}
                                        <option value="{{name}}">{{name}} : {{startDate}} to {{endDate}}</option>
                                    {{/each}}
                                </select>
                            </td> 
                        </tr>
                        
                        <tr>
                            <td class="accountManagement_title">Post Type: </td>
                            <td>
                                <select name="txtNamePostType">
                                        <option value="userName">Current Name</option>
                                        <option value="Anonymous">Anonymous</option>
                                </select>
                            </td> 
                        </tr>

                        <tr>
                            <td><label class="accountManagement_title" for="myFile">Select a file:</label></td>
                            <td><input type="file" id="myFile" name="uploadFiles" multiple></td>
                        </tr>
                        <tr> 
                            <td><input type="checkbox" name="checkbox" value="check" id="agree" /></td>
                            <td><label> I have read and agree to the <a href="">Terms and Conditions and Privacy Policy</a></label></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" value="Submit" class="insertButton" name="submit" onclick="if(!this.form.checkbox.checked)
                            {alert('You must agree to the terms first.')  
                            return false;
                            }">
                                <input type="hidden" value="{{viewDetail.email}}" name="email">
                                {{!-- <p>{{message}}</p> --}}
                            </td>
                        </tr>
                    </form>
                </table>
                <script>
                </script>


                <div class="line_only"></div>
            </div>

            <div class="bottom_content">

            </div>
        </div>

        <!-- (End) Content -->

        {{> footer}}
    </div>
</body>
</html>