<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Idea Page</title>
    <link rel="stylesheet" href="/css/seeIdea.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>


<div class="container">
    {{> headerStaff }}

    <!-- Content -->
    <div class="main_Content">

        <div class="intro_image_content">
            <img src="">
        </div>
        {{#each viewAllIdea}}
        <div class="box">
            <div class="inside">
                <div class="padding align">
                    <img class="size border" src="https://cdn.iconscout.com/icon/free/png-256/avatar-370-456322.png" alt="">
                    <div class="span">
                        <div class="name1">
                            <div class="name2">
                                <span class="font space">{{users}}</span>
                            </div>
                        </div>
                        <span class="email">{{email}}</span>                        
                    </div>
                </div>
            <div class="content">
                <div class="inside-content">
                    <span>Topic is {{topic}}</span>
                    <br>
                    <span>Start Date: {{startDate}}</span>
                    <br>
                    <span>File: {{file}}</span>
                    <br>
                    <span>End Date: {{endDate}}</span>
                    <input type="hidden" id="postId" value="{{_id}}">
                </div>
            </div>
                <hr>
                <div class="wrapper">
                    <div class="like">
                        <button type="button" class="btn btn-default" onclick="like()">
                            <i class="fa-solid fa-thumbs-up"></i>
                            <span id="likes">
                                {{likers.length}}
                            </span>
                        </button>
                    </div>
                    <div class="dislike">
                        <button type="button" class="btn btn-default" onclick="dislike()">
                            <i class="fa-solid fa-thumbs-down"  ></i>
                            <span id="dislikes">
                                {{dislikers.length}}
                            </span>
                        </button>
                    </div>
                </div>
                <script type="text/javascript">
                    function like() {
                        var ajax = new XMLHttpRequest();
                        ajax.open("POST", "../staff/do-like", true);
                        ajax.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

                        ajax.onreadystatechange = function(){
                            if (ajax.readyState == 4 && ajax.status == 200){
                                var response =JSON.parse(ajax.responseText);
                                if (response.status == "success"){
                                    //update likes
                                    var likes = document.getElementById("likes").innerHTML;
                                    likes = parseInt(likes);
                                    likes ++;
                                    document.getElementById("likes").innerHTML = likes;
                                }else{
                                    alert(response.message)
                                }
                            }
                        };
                        var postId = document.getElementById("postId").value;
                        ajax.send("postId="+ postId);
                    }
                    function dislike() {
                        var ajax = new XMLHttpRequest();
                        ajax.open("POST", "../staff/do-dislike", true);
                        ajax.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

                        ajax.onreadystatechange = function(){
                            if (ajax.readyState == 4 && ajax.status == 200){
                                var response =JSON.parse(ajax.responseText);
                                if (response.status == "success"){
                                    //update likes
                                    var likes = document.getElementById("dislikes").innerHTML;
                                    dislikes = parseInt(dislikes);
                                    dislikes ++;
                                    document.getElementById("dislikes").innerHTML = dislikes;
                                }else{
                                    alert(response.message)
                                }
                            }
                        };
                        var postId = document.getElementById("postId").value;
                        ajax.send("postId="+ postId);
                    }
                </script>  
            </div>
            
        </div>
        <br>
        {{/each}}
    </div>

    <!-- (End) Content -->

    {{> footer}}
    
</div>


</html>